.day-item {
    border-right: 1px solid #E3E3E8;
    border-top: 1px solid #E3E3E8;
}

.day-item:nth-child(-n+7) {
  border-top: 0;
}

/* Remove the right border for every 7th item */
.day-item:nth-child(7n) {
    border-right: 0;
}